.dropdown {
    margin-bottom: 1rem;
}

select {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #2a3a50;
    color: #fff;
    width: 200px;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #03dff3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}