<div class="auth-wrapper">
    <div class="form-container">
        <h1>Welcome</h1>
        <form #registerForm="ngForm" (ngSubmit)="register()">
            <div class="form-group">
                <input type="text" placeholder="Username" required />
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email" required />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" required />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm Password" required />
            </div>
            <button type="submit">REGISTER</button>
            <a href="/" class="back-button">Home Page</a>
        </form>
    </div>
</div>
