<div class="profile-wrapper">
    <div class="profile-header">
        <img [src]="user?.Picture" alt="Profile Picture" class="profile-picture" />
        <h1>Welcome {{ user?.FullName }}</h1>
    </div>
    <div class="profile-content">
        <h2>Leaderboard</h2>

        <table class="leaderboard-table">
            <tbody>
                @for (rankedUser of rankedUsers; track $index) {
                <tr [ngClass]="{'highlight': isCurrentUser(rankedUser.Id)}" (click)="goToUserProfile(rankedUser.Id)">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ rankedUser.FullName }}</td>
                    <td>{{ rankedUser.Points }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>