<div class="profile-wrapper">
    <div class="profile-header">
        <img [src]="user?.picture" alt="Profile Picture" class="profile-picture" />
        <h1>Welcome {{ user?.fullName }}</h1>
    </div>
    <div class="profile-content">
        <h2>Leaderboard</h2>
        <table class="leaderboard-table">
            <tbody>
                @for (rankedUser of rankedUsers; track $index) {
                <tr [ngClass]="{'highlight': isCurrentUser(rankedUser.id)}" (click)="goToUserProfile(rankedUser.id)">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ rankedUser.fullName }}</td>
                    <td>{{ rankedUser.points }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <button (click)="play()">Play</button>
</div>