th {
    /* background-color: #004e92; */
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4em;
    background: linear-gradient(45deg, #004e92, #000428);
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}




